{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
<link href="/css/heroes.css" rel="stylesheet">
{% endblock %}

{% block body %}

<!--    <h1>Log in</h1>-->

<!--    <form action="/login/create" method="post">-->

<!--        <div class="form-group">-->
<!--            <label for="inputEmail">Email address</label>-->
<!--            <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="inputPassword">Password</label>-->
<!--            <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" />-->
<!--        </div>-->
<!--        <div class="checkbox">-->
<!--            <label>-->
<!--                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} /> Remember me-->
<!--            </label>-->
<!--        </div>-->

<!--        <button type="submit" class="btn btn-default">Log in</button>-->
<!--        <a href="/password/forgot">Forgot password?</a>-->

<!--    </form>-->


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">My budget</h1>
            <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="post" action="/login/create" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>
{% endblock %}




